<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lizi.skyright">

    <application
        android:name="com.lizi.skyright.MainApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true">

        <activity
            android:name="com.lizi.skyright.MainActivity"
            android:label="@string/app_name"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true"/>

        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_introduce"/>

        <meta-data
            android:name="xposedminversion"
            android:value="82"/>

        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope"/>

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

        <service
            android:name="com.lizi.skyright.BridgeService"
            android:label="@string/bridging_service"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS">

            <intent-filter>

                <action android:name="com.lizi.skyright.BridgeService"/>

            </intent-filter>

        </service>

        <activity 
            android:name="com.lizi.skyright.HookExtensionActivity"
            android:label="@string/hook_extension_activity"
            android:exported="true"/>

    </application>

</manifest>
